<% @search.merchants.each do |m| %>
  <div class='merchant'>
    <%= link_to merchant_path(m.id) do %>
      <h3><%= m.summary.name %></h3>
    <% end %>

    <% if m.summary.cuisines %>
      <p><%= m.summary.cuisines.join(', ') %></p>
    <% end %>

    <p><%= m.summary.description %></p>
  </div>
<% end %>
