<% @search.merchants.each do |m| %>
  <div class='merchant'>
    <h3><%= m.summary.name %></h3>

    <% if m.summary.cuisines %>
      <p><%= m.summary.cuisines.join(', ') %></p>
    <% end %>

    <p><%= m.summary.description %></p>
  </div>
<% end %>
